@model QA.Core.Web.TestApp.Models.TestModel
@using QA.Core.Web
<h2>AjaxForm1</h2>
@using (Html.BeginForm("AjaxFormPost1", "Home", FormMethod.Post, new { id = "f1" }))
{
    <fieldset>
        <legend>TestModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MyProperty1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MyProperty1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MyProperty2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MyProperty2)
        </div>

        <p>
            <input type="submit" value="ajax" />
        </p>
    </fieldset>
}
<script>
    $(function () {
        $("#f1").submit(function (e) {
            if (e && e.preventDefault) {
                e.preventDefault();
            }
            $.ajax({
                type: 'POST',
                headers: {
                    '@(Html.GetAntiForgeryHeaderKey())': '@(Html.GetAntiForgeryToken())'
                },
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (result) {
                    console.log(result);
                    alert(result);
                },
                error: function (er) {
                    console.log(er);
                    alert("error" + er);
                }
            });

            return false;
        });
    });
</script>
